.App{
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  width: 100%;
  text-align: center;
}

table {
  width: 40%;
  margin-left:auto; 
  margin-right:auto;
}

.first-col {
  width: 40%;
  text-align: right;
}

.input-text {
  background: transparent;
  border: none;
  border-bottom: 1px solid lightgoldenrodyellow;
  width: 90%;
  color: rgb(235, 223, 117);
  font-size: calc(6px + 2vmin);
}

.input-text:focus {
  outline: none;
}

a {
 text-decoration: none;
 color: lightgoldenrodyellow;
}

a:hover {
  color: crimson;
}

.register-btn {
  background-color: crimson;
  border: none;
  border-radius: 5px;
  font-size: calc(5px + 2vmin);
  color: white;
  padding: 10px;
}

.register-btn:hover {
  color: silver;
}